<html>
	<head>
		<title>[%pagetitle%]</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="blogroll" type="text/xml" href="https://lists.feedcorps.org/daveblogroll.opml">
		[%rssLink%]
		[%facebookmetadata%]
		[%twittermetadata%]
		
		<script src="//s3.amazonaws.com/scripting.com/code/includes/jquery-1.9.1.min.js"></script>
<link href="//s3.amazonaws.com/scripting.com/code/includes/bootstrap.css" rel="stylesheet">
<script src="//s3.amazonaws.com/scripting.com/code/includes/bootstrap.min.js"></script>

<link rel="stylesheet" href="//s3.amazonaws.com/scripting.com/code/fontawesome/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Ubuntu:400,400i,500i,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">

<script src="//s3.amazonaws.com/scripting.com/code/includes/basic/code.js?x=1"></script>
<link href="//s3.amazonaws.com/scripting.com/code/includes/basic/styles.css" rel="stylesheet" type="text/css">

		<script src="http://api.nodestorage.io/api.js"></script>
<script src="http://fargo.io/code/shared/emojify.js"></script>
<link rel="stylesheet" href="http://fargo.io/code/shared/emojify.css"/>
<script src="http://fargo.io/code/markdownConverter.js"></script>
<script src="http://fargo.io/code/browsers/outlinebrowser.js" async></script>
<link href="http://fargo.io/code/browsers/riverbrowser.css" rel="stylesheet" type="text/css">
<script src="http://fargo.io/code/browsers/riverbrowser.js"></script>

		
		<link rel="stylesheet" href="//fargo.io/code/editors/mediumeditor/dist/css/medium-editor.css"> 
		<link rel="stylesheet" href="//fargo.io/code/editors/mediumeditor/dist/css/themes/default.css"> 
		<script src="//fargo.io/code/editors/mediumeditor/dist/js/medium-editor.js"></script>
		<script src="//fargo.io/code/shared/tweeteditor.js"></script>
		
		<script src="//scripting.com/code/imageclick/dialog.js"></script>
		
		<link href="//radio3.io/code/pagestyles.css" rel="stylesheet" type="text/css">
		<script src="//radio3.io/code/pagecode.js"></script>
		
		<script src="//fargo.io/code/shared/xml.js"></script>
		<script src="//fargo.io/code/shared/reader.js"></script>
		<script src="//fargo.io/cms/snap/snap.js"></script>
		<link rel="stylesheet" type="text/css" href="//fargo.io/cms/snap/snap.css" />
		<link rel="stylesheet" type="text/css" href="//fargo.io/code/shared/reader.css" />
		
		<script src="//scripting.com/chat/code/chatapp.js"></script>
		<link href="//scripting.com/chat/code/chatstyles.css" rel="stylesheet" type="text/css">
		
		<script src="//scripting.com/code/tagrefdialog/dialog.js"></script>
		
		<link href="//scripting.com/code/oldschool/daytemplate.css?x=1" rel="stylesheet" type="text/css">
		<script src="//scripting.com/code/oldschool/daytemplate.js?x=0"></script>
		
		<script>
			var config = [%configJson%];
			var opmlHead = [%opmlHead%];
			</script>
		
		<script>
			var config = [%configJson%];
			var opmlHead = [%opmlHead%];
			</script>
		</head>
	<body>
		<div id="idTweetDialog" class="modal hide fade divTweetDialog">
			<div class="divTweetDialogContainer">
				<div id="idMyTweetEditor">
					</div>
				</div>
			</div>
		<div class="divToggleConnect"><a onclick="chatToggleConnect ();" id="idToggleConnect"></a></div><div>&nbsp;</div>
		<div class="divVersionNumber" id="idVersionNumber">
			</div>
		<div class="divPagetop">
			[%pagetop%]
			</div>
		<div class="divBidenAd">
			<img src="http://scripting.com/images/2020/09/06/bidenHarris2020.png" width="125" height="94" title="I'm ridin' with Biden in 2020!">
			</div>
		<div class="divPageBody">
			<div class="divScriptingTabsPage" id="idScriptingTabsPage">
				<div class="divScriptingTabs" id="idTabs" style="visibility: visible;">
					<div class="divLastScriptingUpdate" id="idLastScriptingUpdate">
						</div>
					<ul id="idTabList" class="nav nav-tabs">
						</ul>
					</div>
				<div class="divScriptingTab" id="idScriptingTab">
					<div class="divTabContent" id="idTabContent">
						</div>
					</div>
				<div class="divMoreButton">
					<button id="idMoreButton"  class="btn" type="button" onclick="moreButtonClick ();" style="display: none;">More</button>
					</div>
				</div>
			<div class="divFooter">
				<p>&copy; copyright 1994-2025 Dave Winer.</p>
				<p>Last update: [%now%].</p>
				<p><span class="spHowLongRunning"></span></p>
				<p>You know those obnoxious sites that pop up dialogs when they think you're about to leave, asking you to subscribe to their email newsletter? Well that won't do for Scripting News readers who are a discerning lot, very loyal, but that wouldn't last long if I did rude stuff like that. So here I am at the bottom of the page <i>quietly</i> encouraging you to <a href="http://scripting.com/email/">sign up for the nightly email</a>. It's got everything from the previous day on Scripting, plus the contents of the linkblog and who knows what else we'll get in there. People really love it. I wish I had done it sooner. And every email has an unsub link so if you want to get out, you can, easily -- no questions asked, and no follow-ups. Go ahead and do it, you won't be sorry! :-)</p>
				<p id="idSnarkySlogan"></p>
				[%socialMediaLinks%]
				<div class="divMastodonLink"><a rel="me" href="https://mastodon.social/@davew">davew@mastodon.social</a></div>
				</div>
			</div>
		<div class="divForSearchIndex" style="display: none;" id="idBodytext">
			[%bodytext%]
			</div>
		<script>
			$(document).ready (function () {
				startup ();
				});
			</script>
		</body>
	</html>
